<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <thead>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th></th>
    </thead>
    <% @list_of_movies.each do |movie|%>
    <tr>
      <td><%= movie.id %></td>
      <td><img src="<%= movie.image %>" alt=""></td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= Director.where({:id => movie.director_id}).at(0).name %></td>
      <td><a href="/movies/<%= movie.id%>">Show Details</a></td>
    </tr>
    <%end%>
  </table>
</body>
</html>
